[
 {:db/id #db/id[:db.part/db]
  :db/ident :class/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "A classes name"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :class/threads
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "A classes' threads"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :thread/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A thread name"
  :db.install/_attribute :db.part/db}
 ]
